body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(img/greenbg.avif);
    text-align: center;
    color: white;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    margin: 8px auto;  
    display: flex;              /* make body a flex container */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
    margin: 0;  
    height: 90vh;
}
h1{
    color: goldenrod;
    font-size: 60px;
}
p{
    font-weight: bold;
    font-size: 30px;
}
#message-el{
    font-style: italic;
}
button {
    display: block;         
    color: #016f32;
    font-size: 25px;
    width: 250px;
    background-color: goldenrod;
    border: none;
    padding: 10px 10px;            
    font-weight: bold;
    border-radius: 2px;
    margin: 5px auto;   
    text-align: center;     
    cursor: pointer;           
}
button:hover{
    color: yellow;
    background-color: rgb(0, 0, 0);
}
.container{
    border: 4px solid rgb(24, 19, 19);
    min-width: 380px;
    min-height: 530px;
    padding: 20px;             /* optional: add some padding */
    background: rgba(58, 59, 52, 0.1); /* optional: semi-transparent bg */
    border-radius: 10px; 
}
