body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(img/greenbg.avif);
    text-align: center;
    color: white;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    margin: 10px auto;  
}
h1{
    color: goldenrod;
}
p{
    font-weight: bold;
}
#message-el{
    font-style: italic;
}
button {
    display: block;         
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    padding: 5px 0;            
    font-weight: bold;
    border-radius: 2px;
    margin: 4px auto;   
    text-align: center;     
    cursor: pointer;           
}

